<h2> Car Page </h2>

<ul>  <!-- res.locals.carList
                         |
        ==================
        |                     -->
  <% carList.forEach((oneCar) => { %>
    <li> <%= oneCar %> </li>
  <% }) %>
</ul>
