<h2> Home Page </h2>

<p>
  Hello, <%= myName %>!
</p>  <!--     |
  res.locals.myName -->

<p>
  Today's number is <b><%= theNumber %></b>.
</p>

<% for (let i = 1; i <= theNumber; i += 1) { %>

  <% if (i % 10 === 0) { %>
    <p class="big-number"> Repeated #<%= i %> </p>
  <% } else { %>
    <p> Repeated #<%= i %> </p>
  <% } %>

<% } %>
